/* Home Section */
body {
  background-color: #05BFDB;
}

/* h3 {
  font-size: 2.3rem;
} */

.h2-header {
  font-size: 4.5rem;
  padding-left: 15px;
  font-family: 'Kalam', cursive;
}

h4{
  font-size: 2.3rem;
  
}

p{
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'Kalam', cursive;
}
li {
  padding-left: 25px;
}

#Home {
  background-color: #05BFDB;
  color: #fff;
}

.pro-name {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
  
}

.nav-top {
  padding-left: 55%;
  font-size: 1.2rem;
  padding-bottom: 15px;
  
}

.top-img {
  width: 75%;
  padding: 0 10% 0 10%;
  
  
}

.home-info {
  padding-top: 15px;
  padding-bottom: 18px;

}

/* Our Services */
#Our-Services {
  background-color: #E7CBCB;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 15px;
}

.service-title {
  text-align: center;
  font-size: 2.8rem;
}

.house-clean{
  padding-left: 25px;
}

.house-clean-img {
  width: 95%;
  padding-bottom: 15px;
  height: 89%;
  /* padding-left: 15px; */
}
.house-clean-head {
  text-align: center;
}

.lawn-mowing-img{
  width: 77%;
  padding-bottom: 17px;
  text-align: center;
  
}

.lawn-mowing-head {
  text-align: center;
}

.car-wash-head {
  padding-left: 35px;
}

/* Prices Section */

#prices {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 25px 0 25px;
}

.price-title{
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Kalam', cursive;
  
}

/* Testimonials*/
#Testimonials {
  padding-top: 15px;
  background-color: #E7CBCB;
  
}

.testimonial-img {
  width: 8%;
  border-radius: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 15px;
}
.testimonisl-text {
  margin: 0 15px 0 15px;
}

.em-name {
  text-align: center;
}

/* Contact Section */
#Contact {
  padding-bottom: 5%;
}

.contact-items {
  text-align: center;
}
.copy-note {
  padding-top: 20px;
}

.contact-img{
  padding-top: 20px;
  padding-left: 20px;
}





